<header class="header">
  <div class="inner">
    <h1></h1>
    <nav class="menu">
      <a href="#menu" id="nav_menu_toggle" role="button" aria-expanded="false" aria-controls="menu">
        <div class="icons">
          <i class="fas fa-bars"></i>
          <i class="fas fa-times"></i>
        </div>
      </a>
      <div class="collapse" id="nav_menu">
        <ul class="links">
          {% if page.layout != 'index' %}<li><a href="{{ site.baseurl }}/">トップ</a></li>{% endif %}
          {% for project in site.projects %}
          <li{% if page.url contains project.url %} class="active"{% endif %}><a href="{{ project.url | absolute_url }}/">{{ project.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</header>