---
---
@import url('https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;700;900&display=swap');

@import 'base';

@import 'layout/main';
@import 'layout/header';
@import 'layout/spotlight';
@import 'layout/footer';