.wrapper {
    margin-top: 1em;

    .inner {
        width: 100%;
        display: block;
        padding: 0 2em;
        overflow: hidden;

        @media screen and (min-width: 980px) {
            margin: 0 auto;
            padding: 0;
            width: 55em;
        }

        img.image {
            float: left;
            border-radius: 100%;
            height: 200px;
            width: 200px;
            margin-right: 2em;
        }

        .content {
            display: inline-block;

            :first-child {
                margin-top: 0;
            }
        }

        img.qrcode {
            height: 400px;
            width: 400px;
        }
    }
}